<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iChat</title>

    <!-- Bootstrap -->
    <link href="<?php echo _STATIC; ?>/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo _STATIC; ?>/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="bgAllImage"><img class="bgAllImage" data-id="0" src="<?php echo _STATIC; ?>/images/bg/0.jpg"></div>

<div class="wrap container">
    <div class="col-sm-12 myinfo">
        <div class="myavatar"><img class="avatar" src="http://tp3.sinaimg.cn/1221788390/180/1289279591/0"></div>
        <div class="myinfo_desc">
            <p class="myname">八尺大汉</p>
            <p class="mysign"></p>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="onlinelists">
            <div class="title"><span>在线用户 <em class="online_num">1</em>人</span></div>

            <div class="onlinelists_inner">
                <div class="loading"><img src="<?php echo _STATIC;?>/images/loading2.jpg" /> </div>
                <ul>


                </ul>
            </div>
        </div>
        <div class="wallpaper-ctrl">
            <a href="###" class="wallpaperImg pre" id="wp-ctrl-pre" title="点击切换背景图片" cmd="clickWPPre"> </a>
            <a href="###" class="wallpaperImg next" id="wp-ctrl-next" title="点击切换背景图片" cmd="clickWPNext"> </a>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="showmessagebox">
            <div class="title">
                <h3>QChat <small>欢迎您～～</small></h3>
            </div>
            <div class="msgbox" id="msgbox">
                <ul class="message_lists">

                </ul>
            </div>
        </div>

        <div class="sendmsgbox">
            <form class="" role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="inputbox" ></textarea>
                </div>

                <button type="button" class="btn btn-default" id="btn-send"><span>Ctrl + Enter</span> <span>发 送</span></button>
                <div class="clearfix cl"></div>
            </form>
        </div>

    </div>

</div>

<script src="<?php echo _STATIC; ?>/js/jquery.min.js"></script>
<script src="<?php echo _STATIC; ?>/dist/js/bootstrap.min.js"></script>

<script src="<?php echo _STATIC; ?>/js/reconnecting-websocket.js" /></script>
<script src="<?php echo _STATIC; ?>/js/ichat.js" /></script>
<script type="text/javascript">
    var UI = {}
    $(function () {
        $.iChat.init({'openid':"<?php echo session('openid'); ?>"});

        setUI();
        setbgimg();

        $(".wallpaper-ctrl a").click(function () {
            $(".bgAllImage").animate({ "opacity":0 },1500, function () {
                if($(this).hasClass("pre")) {
                    setbgimg(1);
                } else {
                    setbgimg(2);
                }
            });
        })
    })

    function setUI() {
        UI.ww = $(window).width();
        UI.wh = $(window).height();


        $(".onlinelists").height(UI.wh-210+"px")
        $(".onlinelists_inner").height(UI.wh-210 - 40 +"px")
        $("#msgbox").height(UI.wh-210 - 40 - 94 +"px")
    }

    function setbgimg(type) {
        if(type == 1) {
            var i = parseInt($(".bgAllImage").attr("data-id")) + 1;
            i = i > 28 ? 0 : i;
        } else if(type == 2) {
            var i = parseInt($(".bgAllImage").attr("data-id")) - 1;
            i = i < 0 ? 28 : i;
        } else {
            var i = parseInt (Math.random()*100%29 );
        }

        $(".bgAllImage").attr("data-id",i).attr("src","<?php echo _STATIC; ?>/images/bg/"+i+".jpg").animate({
            "opacity":1
        },1500);

    }


</script>
</body>
</html>